<div class="hero">
	<div class="hero-text">
		<p>
			Be limitless. Learn to code.
		</p>
		<a href="#email-form" id="email-form-link"><button>Support Us On Kickstarter.</button></a>
	</div>
</div>

<div class="container">

	<div class="row padded">
		<div class="col-md-1">
		</div>
		<div class="col-md-4 title">
			<h1>What Is #Meta?</h1>
		</div>
		<div class="col-md-6">
			<p>
				Do you want to create apps that will change the way people live their lives? How about products that are featured on Wired? Or maybe you just want to learn something new? Meta was made to help lower the extremely high barrier to entry for learning how to code and making game-changing applications.
			</p>
		</div>
		<div class="col-md-1">
		</div>
	</div>

	<hr/>

	<div class="row padded">
		<div class="col-md-1">
		</div>
		<div class="col-md-4 title">
			<h1>Who Am I And What Problem Am I Solving?</h1>
		</div>
		<div class="col-md-6">
			<p>
				Learning how to code is exhausting, confusing, and expensive. I am revolutionizing the education industry by lowering the barrier of entry to a level that is actually realistic and achievable. The vast majority of software engineering problems do not require people with specialized 4-year degrees and a background in Mathematics to solve. I am focusing on the essentials, the optimally minimal amount of specialized knowledge you need to get started making incredible products and working in software development.
			</p>

				Currently, to prepare for a career  in software development your choices are:
				<ul>
					<li>Get a college degree (expensive and time consuming),</li>
					<li>Attend a bootcamp (expensive and time consuming),</li>
					<li>Teach yourself (too hard and time consuming)</li>
				</ul>

			<p>
				Meta's guided curriculum and private online forum will teach you how to build valuable and meaningful web applications in less than half the cost and time of the other options on the market today.

				Right now, I have written an MVP curriculum that I will fine-tune to deliver the best possible learning experience for my users. I follow the Lean Startup method of continuous improvement.
			</p>
		</div>
		<div class="col-md-1">
		</div>
	</div>

	<hr/>

	<div class="row padded">
		<div class="col-md-1">
		</div>
		<div class="col-md-4 title">
			<h1>What Makes Meta Different?</h1>
		</div>
		<div class="col-md-6">
			<p>
				There are lots of resources available online that can teach you how to code. Meta is unique. How? Meta is an inexpensive, full solution. Taking you from not even knowing how the internet works to an employable, junior-level software developer. Most other solutions are either super expensive or contain gaping holes in their curriculum. We are neither of those things. We provide everything you need to learn all in one place in an order that will actually make sense to you as you learn it.
			</p>
		</div>
		<div class="col-md-1">
		</div>
	</div>

	<hr/>

	<div class="row padded">
		<div class="col-md-1">
		</div>
		<div class="col-md-4 title">
			<h1>High-level Curriculum Overview</h1>
		</div>
		<div class="col-md-6">
			<ul>
				<li>Intro</li>
				<ul>
					<li>Growth Mindset</li>
					<li>Goals</li>
					<li>Schedule</li>
					<li>Where to find help</li>
					<li>Tips and Tricks</li>
					<li>Computer Setup</li>
					<li>Git / Github / CLI</li>
					<li>Intro to Text Editors</li>
					<li>How the Internet Works</li>
				</ul>
				<li>HTML / CSS</li>
				<li>Beginner JS</li>
				<ul>
					<li>Data</li>
					<li>Loops</li>
					<li>OOJS</li>
				</ul>
				<li>Intermediate JS</li>
				<ul>
					<li>JSON</li>
					<li>jQuery</li>
					<li>AJAX</li>
				</ul>
				<li>Advanced JS</li>
				<li>Angular.js</li>
				<li>Dealing With Data</li>
				<ul>
					<li>Databases</li>
					<li>SQL</li>
					<li>Node.js</li>
				</ul>
				<li>APIs</li>
				<li>Software Development Principles</li>
		</ul>
	</div>
	<div class="col-md-1">
	</div>
</div>

	<hr/>

	<div class="row padded">
		<div class="col-md-1 title">
		</div>
		<div class="col-md-4 title">
			<h1>What Do I Need The Money For?</h1>
		</div>
		<div class="col-md-6">
			<p>
				Money? What money? I'm raising money on Kickstarter to turn the dream of low-cost, self-paced, easy-to-access software development training a reality. Creating a high-quality curriculum designed to take any motivated individual from zero to junior-level software developer is time intensive. I will need to hire professional software engineers, teachers, and industry leaders to help me build the best curriculum comprised of only the most essential learning objectives you will need to become a software developer. I also need to pay for marketing, branding, legal expenses, hosting, design, and development of our learning forum and curriculum. This money is supposed to take us from where we are (with a basic curriculum) to self-sustaining business with an advanced curriculum and beyond.
			</p>
		</div>
		<div class="col-md-1">
		</div>
	</div>

	<hr/>

	<div class="row padded">
		<div class="col-md-1">
		</div>
		<div class="col-md-4 title">
			<h1>Is This For Me?</h1>
		</div>
		<div class="col-md-6">
			<p>
				Meta isn't for everyone, but it may be for you if one of the following is true:
				<ul>
					<li>You are thinking about attending a software development bootcamp and you want development practice,</li>
					<li>You want a cheaper alternative to a software development bootcamp,</li>
					<li>You want to learn something new that isn't taught in college but valuable in the job market,</li>
					<li>You work with or lead a team of software developers,</li>
					<li>You want to start a tech company,</li>
					<li>You want to learn how to develop web applications,</li>
					<li><b>You want to become a developer.</b></li>
				</ul>
			</p>
		</div>
		<div class="col-md-1">
		</div>
	</div>

	<hr/>

	<div class="row padded">
		<div class="col-md-5">
		</div>
		<div class="col-md-3"
			<a href="#email-form" id="email-form-link"><button>Support Us On Kickstarter.</button></a>
		</div>
		<div class="col-md-5">
		</div>
	</div>
</div>
