<div class="container-fluid footer">
  <div class="center-inner">
    <a href="https://www.linkedin.com/in/philborel"><img id="linkedin" src="imgs/linkedinicon.png" alt="LinkedIn"></a>

    <a href="https://github.com/pborel"><img id="github" src="imgs/githubicon.png" alt="GitHub"></a>

    <p>
      &copy; 2015 Phil Borel. All rights reserved.
    </p>
  </div>
</div>
